<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title|default('crop land')}}</title>
        <link href="{{ url_for('static', filename='style.css')}}" 
              rel="stylesheet">
        {%block head%}{% endblock %}
    </head>

    <body>
        <ul id="navbarMenu">
            <li class="navItem"><a href="{{ url_for('index') }}#home">Home</a></li>
            <li class="navItem"><a href="{{ url_for('users') }}">Users</a></li>
            <li class="navItem"><a href="{{ url_for('index') }}">About</a></li>
            <li class="navItem" style="float:right">
                <form class="" method="get" action="/index">
	                <input class="" 
                           placeholder="Search" 
                           type="text" 
                           name="pattern">
	                <button class="" type="submit">Search</button>
                </form>
                <li class="navItem" style="float:right">
                    <button onclick="change_theme();">Change Theme</button>
                </li>
            </li>
        </ul>
        
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='change_theme.js') }}">
        </script>

    </body>
</html>
