{% extends "base.html" %}

{% block content %}

<h1>Image {{context.metadata.id}}</h1>
<section class="sectionWithSide">
<img src="{{ url_for('static', filename=context.metadata.path) }}"
     id="displayed_img"
     onmouseover="zoomIn()"
     onmouseout="zoomOut()">
</section><aside>

<h3> Tags associés </h3>
<ul>
{% for tag in context.metadata.tags %}
<li> <a href="{{ url_for('index') }}?pattern={{ tag }}">{{ tag }}</a> </li>
{% endfor %}
<form method='post' action="">
    <label for="newtag"> Add a tag :</label>
    <input id="newtag" type="text" name="newtag" list=tagsOptions>
    <datalist id=tagsOptions>
    {% for tag in context.tags %}
    <option> {{tag}}
    {% endfor %}
    </datalist>
    <input type="submit" value="Submit">
</form>
</ul>

<h3>Favoris pour :</h3>
<ul>
{% for user in favUsers %}
<li> {{user}} </li>
{% endfor %}
</ul>
</aside>
<!--{{ context.tags }}
{{ context.path }} -->

</section><aside>
    <h3>Les tags</h3>
        <ul>
        {% for tag in context.tags %}
        <li> <a href="{{ url_for('index',tag=tag) }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
</aside>

<script>
    function zoomIn() {
        document.getElementById("displayed_img").style.width = "30%";
    }
    function zoomOut() {
        document.getElementById("displayed_img").style.width = "20%";
    }
</script>

{% endblock %}
