{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<form class="" method="get" action="/">
	<input class="" placeholder="Search" type="text" name="pattern">
	<button class="" type="submit">Search</button>
</form>
<section class="sectionWthSide">
<div class="wrapper">
{% for img_link in context %}
	<a href="{{ url_for('img', key=img_link.id) }}"><img src="{{ url_for('static', filename=img_link.path) }}" width=150></a>
{% endfor %}
</div>
</section><aside>
<h3>Les tags</h3>
<ul>
{% for tag in tagsList %}
<li> <a href="{{ url_for('index',tag=tag) }}">{{ tag }}</a></li>
{% endfor %}
</ul>
</aside>
{% endblock %}
